<p id="notice"><%= notice %></p>

<h1>Multivotes</h1>
    <% @multivotes.each do |multivote| %>
        <div class="row">
          <div class= "col-sm-8 col-xs-8">
            <%= multivote.stream.title %>
          </div>
          <div class= "col-sm-4 col-xs-4">
            <%= link_to 'Show', myasset_multivote_path(multivote) %>
            <%= link_to 'Edit', edit_myasset_multivote_path(multivote) %>
            <%= link_to 'Destroy', myasset_multivote_path(multivote), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        <div class="row">
      <div class="container" id="<%= "singlebattle_#{multivote.battle.id}"%>">

        <div id="<%= "votebar_battle_#{multivote.battle.id}"%>">
            <div class="row">
              <div class="col-xs-2 col-ms-2"><%= multivote.order %>
              </div>
              <div class="col-xs-8 col-ms-8">
                  <h4 align="center"><%= multivote.battle.title %></h4>
              </div>
            </div>
            <%= render :partial => "common/bar_battle", locals: {battle: multivote.battle}%>
            <%= render :partial => "common/video_battle", locals: {battle: multivote.battle}%>
        </div>
      </div>  
        </div>
    <% end %>
<%= link_to 'New Multivote', new_myasset_multivote_path %>
