<p id="notice"><%= notice %></p>

<h1>Multivotes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multivotes.each do |multivote| %>
      <tr>
        <td><%= multivote.stream.title %></td>
        <td><%= multivote.battle.title %></td>
        <td><%= multivote.order %></td>

        <td><%= link_to 'Show', myasset_multivote_path(multivote) %></td>
        <td><%= link_to 'Edit', edit_myasset_multivote_path(multivote) %></td>
        <td><%= link_to 'Destroy', myasset_multivote_path(multivote), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Multivote', new_myasset_multivote_path %>
