<p id="notice"><%= notice %></p>
<p ><%= @multivote.stream.title %></p>
<p ><%= @multivote.battle.title %></p>
<%= link_to 'Edit', edit_myasset_multivote_path(@multivote) %> |
<%= link_to 'Back', myasset_multivotes_path %>
