<h4 class="text-center">即将挑战</h4>
  <video src=<%= @targevideo.video_url.to_s %> style = "width:100%"  poster=<%= @targevideo.image.thumb.to_s %> controls>
    <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
  </video>
  
<div class="form-group">
<%= simple_form_for [:myasset, @video], 
    
    :url => myasset_video_createchallenge_path(@targevideo),
    :method => 'post' do |f| %>    
    <div class="group">
        <%= f.hidden_field :title, :value => "VS " + @targevideo.title %>
    </div>
    <% if @video.image.present? %>
    <span>视频封面</span>
    <br>
    <%= image_tag(@video.image.thumb.url) %>
    <% end %>
    <div class="group">
        <%#= f.input :image, as: :file %>
        <%= f.file_field :image %>（视频封面）<br>
    </div>
    <div class="group">
        <%=f.file_field :video %> （视频）<br>
    </div>
    
    <br>
    <div class="form-actions">
      <%= f.submit "提交" , disable_with: "Submiting...", class: "btn btn-success", :style => "border: none;color:white;width:49%;background-color:#74d4b3;" %>
      <%= link_to "取消", myasset_videos_path, class: "btn btn-default", :style => "border: none;color:white;width:49%;background-color:#74d4b3;"%>
    </div>
<% end %>
</div>
