<div>
  <span class="pull-right" style="margin-top:-25px; margin-bottom: 10px;">
      <%= link_to("添加视频", new_myasset_video_path, :class => "btn btn-xs btn-default") %>
  </span>
  <br>
  <% @videos.each do |v| %>
  <div class="row">
    <div class="col-xs-8">
      <p><%= link_to(v.title, myasset_video_path(v)) %></td></p>
    <div class="col-sm-6 col-xs-6">
      <video src=<%= v.video_url.to_s %> style = "width:100%"  poster=<%= v.image.thumb.to_s %> controls>
        <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
      </video>
    </div>

    </div>
    <div class="col-xs-4" style="padding-top: 60px;">
      <p>
        <%= link_to edit_myasset_video_path(v), class: 'btn btn-default btn-xs' do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to myasset_video_path(v), :method => :delete, :data => {:confirm => "Are your sure?" }, class: 'btn btn-danger btn-xs' do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </p>
      <p>
        <%= v.user.display_name %>
      </p>

      <p>
        <%= v.user.created_at.strftime("%d %b. %Y") %>
      </p>
    </div>

  </div>
  <% end %>
</div>
