<div>
  <span class="pull-right" style="margin-top:-25px; margin-bottom: 10px;">
      <%= link_to("添加视频", new_myasset_video_path, :class => "btn btn-xs btn-default") %>
  </span>
  <br>
  <% @videos.each do |v| %>
  <div class="row">
    <div class="col-sm-8 col-xs-8">
      <p><%= link_to(v.title, myasset_video_path(v)) %></td></p>

    </div>
    
    <div class="col-sm-4 col-xs-4">
      <p>
        <%= link_to edit_myasset_video_path(v), class: 'btn btn-default btn-xs' do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to myasset_video_path(v), :method => :delete, :data => {:confirm => "Are your sure?" }, class: 'btn btn-danger btn-xs' do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
        <%= v.user.created_at.strftime("%d %b. %Y") %>
      </p>
    </div>

  </div>
  <div>
      <div class="col-sm-12 col-xs-12">
        <video src=<%= v.video_url.to_s %> style = "width:100%"  poster=<%= v.image.thumb.to_s %> controls>
        </video>
      </div>
  </div>
  <% end %>
</div>
