<div class="col-xs-12 new-video">
  <br>
  <% if @challenge_video %>
    <h4 class="text-center">即将挑战</h4>
      <video src=<%= @challenge_video.video_url.to_s %> style = "width:100%"  poster=<%= @challenge_video.image.thumb.to_s %> controls>
        <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
      </video>
    <h4 class="text-center"><%= 挑战主题: @battle.title %></h4>      
    <%= render :partial => "challenge_video_form" %>
  <% else %>
    <h4 class="text-center">上传视频</h4>
    <%= render :partial => "video_form" %>
  <% end %>

</div>
