<p id="notice"><%= notice %></p>

<h1>Streams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @streams.each do |stream| %>
      <tr>
        <td><%= stream.title %></td>
        <td><%= stream.content %></td>
        <td><%= link_to 'Show', myasset_stream_path(stream) %></td>
        <td><%= link_to 'Edit', edit_myasset_stream_path(stream) %></td>
        <td><%= link_to 'Destroy', myasset_stream_path(stream),  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <% stream.multivotes.each do |relation| %>
          <td><%= relation.battle.title%> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stream', new_myasset_stream_path %>
