<p id="notice"><%= notice %></p>

<h1>Streams</h1>


    <% @streams.each do |stream| %>
      <div class="container">
      <div class="row">
        <div class = "col-sm-8 col-xs-8">
          <%= link_to(stream.title, myasset_stream_path(stream)) %>
        </div>
        <div class="pull-right col-sm-4 col-xs-4">
          <% if stream.approved %>
            <%= link_to 'Show', stream_path(stream) %>
          <% else %>
            <%= link_to 'Show', myasset_stream_path(stream) %>
          <% end %>
          <%= link_to 'Edit', edit_myasset_stream_path(stream) %>
          <%= link_to 'Destroy', myasset_stream_path(stream),  method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      </div>
      <div class="row">
        <p><%= stream.content %></p>
      </div>
    <% end %>

<%= link_to 'New Stream', new_myasset_stream_path %>
