<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @stream.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @stream.content %>
</p>
      <% @stream.multivotes.each do |relation| %>
        <div class="container" id="<%= "singlebattle_#{relation.battle.id}"%>">
          <div id="<%= "votebar_battle_#{relation.battle.id}"%>">
              <div class="row col-xs-12" style="width: 100%">
                  <h4 align="center"><%= relation.battle.title %></h4>
              </div>
              <%= render :partial => "common/bar_battle", locals: {battle: relation.battle}%>
              <%= render :partial => "common/video_battle", locals: {battle: relation.battle}%>
          </div>
        </div>        
      <% end %> 
<%= link_to 'Edit', edit_myasset_stream_path(@stream) %> |
<%= link_to 'Back', myasset_streams_path %> |
<%= link_to '添加battle', myasset_stream_append_path(@stream) %> |
<%= link_to '调整排序', myasset_stream_reorder_path(@stream) %>
