<div class="row">
  <div class="col-sm-4 col-xs-4">
    <%= link_to "返回", openbattles_path %>
  </div>
  <div class="row col-sm-8 col-xs-8">
     当前话题：<%= @topic.title %>
  </div>
</div>

<% if @currentvideo %>
  <div class="row col-sm-12 col-xs-12">
       <%= @currentvideo.user.name %>: <%= @currentvideo.title %>
  </div>
  
  <div class="col-sm-12 col-xs-12 video_container">
    <% if @currentvideo %>
      <%= render :partial => "common/video_player", locals: {video: @currentvideo}%>
    <% end %>
  </div>

  <div class="row">
    <br>
  </div>
  <div class="col-sm-12 col-xs-12 text-center">
              <%= link_to("怼TA", myasset_video_challenge_path(@currentvideo), :class => "btn btn-primary btn-challenge") %>
  </div>
<% else %>
    <div class="col-xs-12 text-center">
                <%= link_to myasset_topic_newvideo_path(@topic), :data => {:trackevent => "create_video_topic"} do %>
                           等你来说 <i class= "fa fa-video-camera fa-2x" aria-hidden="true"></i>
                <% end %>
		</div>
<% end %>
<%= render "footer" %>