<div class="pull-right" style="margin-top: 20px; margin-bottom: 10px;">
    <%= link_to("新建视频PK", new_admin_battle_path, :class => "btn btn-default btn-info") %>
</div>

<table class="table table-boldered table-striped custab">
    <thead>
        <td>PK编号</td>
        <td>PK名称</td>
        <td>视频一</td>
        <td>视频二</td>
        <td>操作选项</td>
        <td>发布日期</td>
    </thead>
    <% @battles.each do |b| %>
    <tr>
        <td><%= b.id %></td>
        <td>
            <%= link_to(b.title, admin_battle_path(b)) %>
        </td>

        <td><%= link_to(Video.find(b.left_video_id).title, admin_video_path(b.left_video_id)) %></td>
        <td><%= link_to(Video.find(b.right_video_id).title, admin_video_path(b.right_video_id)) %></td>
        <td>
            <%= link_to edit_admin_battle_path(b), class: 'btn btn-info btn-xs' do %>
            <i class="fa fa-pencil"></i><% end %>
            <%= link_to admin_battle_path(b), :method => :delete, :data => {:confirm => "Are your sure?" }, class: 'btn btn-danger btn-xs' do %>
            <i class="fa fa-trash-o"></i>
            <% end %>
        </td>
        <td><%= b.created_at %></td>
    </tr>
    <% end %>
</table>
