<div class="col-xs-12">
  <h4 class="text-center"> <%= @battle.title %> - 评论列表 </h4>
  <br>
  <% @comments.each do |c| %>
  <hr>
  <span class="pull-right"><%= c.user.display_name %></span>
  <p><%= simple_format(c.comment) %></p>
  <p class="pull-right">
    <%= c.created_at.strftime("%d %b. %Y") %>
    <%= link_to edit_admin_battle_battle_comment_path(@battle, c), class: 'btn btn-info btn-xs' do %>
    <i class="fa fa-pencil"></i><% end %>
    <%= link_to admin_battle_battle_comment_path(@battle, c), :method => :delete, :data => {:confirm => "确定删除评论吗?" }, class: 'btn btn-danger btn-xs' do %>
    <i class="fa fa-trash-o"></i>
    <% end %>
  </p>

  <% end %>
  <br>
  <div class="pull-right" style="margin-top: 10px; margin-bottom:10px;">
    <%= link_to "返回", admin_battles_path, class: "btn btn-default" %>
  </div>
</div>
