<p id="notice"><%= notice %></p>
    <div class="container" id="<%= "singlebattleinstream"%>">

      <div class="row">
      
        <div class="col-xs-12" style="text-align:center">
            <div class="panel1">
              <h4 ><%= @battle.title %></h4>
            </div>
        </div>
      </div>
      <%= render :partial => "common/video_battle", locals: {battle: @battle}%>
      <%= render :partial => "votebar_battle", locals: {battle: @battle}%>
    </div>