<% @t1topic.topics.all.each do |topic| %>
        <div class="video-in-topic">
            <% allvideos = topic.videos.all %>
            <% if allvideos.count > 1 %>
                <div class="row">
                   <div class="col-sm-8 col-xs-8">
                       <h4><%= link_to topic.title, topic %></h4>
                   </div>                 
                   <div class="col-sm-4 col-xs-4 pull-right text-right">
                       <h4><%= link_to topic.videos.all.count.to_s + "段视频", topic %></h4>                       
                   </div>
                </div>
            <% else %>
                <h4><%= link_to topic.title, topic %></h4>            
            <% end %>
            <% topic.videos.all[0, 1].each do |video| %>
                <div class="col-sm-12 col-xs-12 video_container">
                    <p><%= video.title %></p>
     		        <%= render :partial => "videopreview", locals: {video: video}%>
                </div>
            <% end %>
        </div>
<% end %>