  <% battle = local_assigns[:battle] %>
  <% alreadyVoted =  left_is_voted(battle) or right_is_voted(battle) %>
  <% alreadyVoted = false %>
<div class="row button-footer">
    <% if alreadyVoted %>
       	<div class="col-xs-4 text-center">
       	  <% if battle.newerpublishedbattle %>
                <%= link_to battle_path(battle.newerpublishedbattle), :data => {:trackevent => "prev_show"} do %>
                        <i class= "fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                <% end %>
        	<% else %>
        	  <%= link_to("", "#") %>
        	<% end %>

		    </div>
       	<div class="col-xs-4 text-center">
            <% if left_is_voted(battle) %>
                <%= link_to challengepreviewright_battle_path(battle), :data => {:trackevent => "challenge_show"} do %>
                            <i class= "fa fa-video-camera fa-2x" aria-hidden="true"></i>
                <% end %>
            <% else %>
                <%= link_to challengepreviewleft_battle_path(battle), :data => {:trackevent => "challenge_show"}  do %>
                            <i class= "fa fa-video-camera fa-2x" aria-hidden="true"></i>
                <% end %>
            <% end %>
		    </div>
       	<div class="col-xs-4 text-center">
       	  <% if battle.olderpublishedbattle %>
                <%= link_to battle_path(battle.olderpublishedbattle), :data => {:trackevent => "next_show"} do %>
                        <i class= "fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                <% end %>
        	<% else %>
        	  <%= link_to("主人可以休息了", "#") %>
        	<% end %>
       	</div>
    <% else %>
       	<div class="col-xs-6 text-center">
       	  <% if battle.newerpublishedbattle %>
                <%= link_to battle_path(battle.newerpublishedbattle), :data => {:trackevent => "prev_show"} do %>
                        <i class= "fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                <% end %>
        	<% else %>
        	  <%= link_to("", "#") %>
        	<% end %>

		    </div>
       	<div class="col-xs-6 text-center">
       	  <% if battle.olderpublishedbattle %>
                <%= link_to battle_path(battle.olderpublishedbattle), :data => {:trackevent => "next_show"} do %>
                        <i class= "fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                <% end %>
        	<% else %>
        	  <%= link_to("主人可以休息了", "#") %>
        	<% end %>
       	</div>
       	<% end %>
</div>