<% battle = local_assigns[:battle] %>
<div class="container battle_video_vote_comment" id="<%= "singlebattle_#{battle.id}"%>">
  <%= link_to battle do %>
    <div class="row text-center">
      <h3><%= battle.title %></h3>
    </div>
    <div class="row">
      <% if battle.left_video.user == battle.right_video.user %>
        <div class="col-xs-12 text-center left_user"><%= battle.left_video.user.name || "朝阳群众" %>的内心戏</div>
      <% else %>
        <div class="col-xs-4 text-right left_user"><%= battle.left_video.user.name || "朝阳群众" %></div>
        <div class="col-xs-4 text-center">VS</div>
        <div class="col-xs-4 text-left right_user"><%= battle.right_video.user.name  || "朝阳群众" %></div>
      <% end %>

    </div>

  <div class="row ">
    <div class="col-sm-6 col-xs-6 video_container">
     		<%= render :partial => "video_preview", locals: {video: battle.left_video}%>
    </div>
    <div class="col-sm-6 col-xs-6 video_container">
     		<%= render :partial => "video_preview", locals: {video: battle.right_video}%>
    </div>
  </div>
    <div id="<%= "votebar_battle_#{battle.id}"%>">
      <% if battle %>
        <div class="row">
          <div class="col-sm-2 col-xs-2  vote_star_button">
            <%= render :partial => "common/leftvotebutton", locals: {battle: battle}%>     
          </div>
          <div class = "col-sm-8 col-xs-8">
            <%= render :partial => "common/votebar", locals: {battle: battle}%>
          </div>
          <div class="col-sm-2 col-xs-2  vote_star_button vote_star_right">
            <%= render :partial => "common/rightvotebutton", locals: {battle: battle}%>     
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>