  <% battle = local_assigns[:battle] %>
     <% if left_is_voted(battle) %>
         <%  left_vote_link_text = "fa fa-thumbs-up fa-2x"%>
     <% else %>
         <%  left_vote_link_text = "fa fa-thumbs-o-up fa-2x"%>
     <% end %>
     <% if right_is_voted(battle) %>
         <%  right_vote_link_text = "fa fa-thumbs-up fa-2x flip"%>
     <% else %>
         <%  right_vote_link_text = "fa fa-thumbs-o-up fa-2x flip"%>
     <% end %>


  <% if battle %>
  <div class="row">
     <% if left_is_voted(battle) || !right_is_voted(battle)%>

    <div class="col-sm-6 col-xs-6">
                <%= link_to vote_for_left_battle_path(battle), :method => :post,
                                               :remote => true do %>
                        <i class= "<%= "#{left_vote_link_text}"%>" aria-hidden="true" style="color:#79e8d0;"></i>
                <% end %>
    </div>
    <% end %>
    <%if right_is_voted(battle) || !left_is_voted(battle)%>
    <div class="col-sm-6 col-xs-6" style="text-align:right">
                <%= link_to vote_for_right_battle_path(battle), :method => :post,
                                               :remote => true do %>
                        <i class= "<%= "#{right_vote_link_text}"%>" aria-hidden="true" style="color:#ff7073;"></i>
                <% end %>
    </div>
    <% end %>
  </div>
  <div class="row">

    <% if total_votes(battle) >0 %>
        <div class="progress" style="margin-top: 20px;">
            <div id="leftBar" class="progress-bar" role="progressbar" style="width:<%= render_left_width(battle)%>%;
                        background-color:#79e8d0; color:black;">
          
                <p><%= left_votes(battle) %></p>
            </div>
            <div id="rightBar" class="progress-bar" role="progressbar" style="width:<%= render_right_width(battle)%>%;
                        background-color:#ff7073; color:white;" >
                <p><%= right_votes(battle) %></p>
            </div>

        </div>
    <% else %>
        <div class="progress" style="margin-top: 20px;">
            <div id="leftBar" class="progress-bar" role="progressbar" style="width:100%; background-color:#efefef;">
            </div>
          </div>
    <% end %>
    </div>
  <% end %>