<div class="container">
    <div class="row">
        <div class="col-md-6" style="width: 100%">
            <div class=" panel" style="background-color: #efefef; margin-top: 20px;">
                <% if @battle.present? %>
                <h2><%= @battle.title %></h2>
                <p style="height: 30px; "><%= simple_format(@battle.description) %></p>
            <% else %>
                <h2>PK赛尚未开始，敬请期待！</h2>
                <% end %>
            </div>
        </div>
    </div>
    <% if @battle.present? %>
    <div class="row">
        <div class="col-md-3" style="width: 50%">
            <div class="panel" style="background-color: #efefef; margin-top: 20px; width: 300px; ">
                <ul style="list-style-type:none">
                  <% if @left_video.user.avatar_file_name.present? %>
                    <%= image_tag(@left_video.user.avatar.url(:thumb), :size => "45x45", class: "pull-left img-circle") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/100x100&text=No Pic", class: "thumbnail") %>
                  <% end %>
                    <!-- <a class="user-name"> -->
                        <%= @left_video.user.name %>
                        <% if current_user %>
                          <% if current_user.has_follow_left?(@battle) %>
                            <%= link_to unfollow_left_video_battle_path(@battle), :method => :post do %>
                            <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                            <% end %>
                          <% else %>
                            <%= link_to follow_left_video_battle_path(@battle), :method => :post do %>
                            <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= link_to new_user_session_path, :method => :post do %>
                          <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" ></i>
                          <% end %>
                        <% end %>
                        <%= @battle.left_followers.count %>
                    <!-- </a> -->
                </ul>
            </div>
            <%= video_tag([@left_video.video_url.to_s], :size => "300x300", :controls =>true) %>

        </div>
        <div class="col-md-3" style="width: 50%">
            <div class="panel" style="background-color: #efefef; margin-top: 20px; width: 300px;">
                <ul style="list-style-type:none">
                    <% if @right_video.user.avatar_file_name.present? %>
                      <%= image_tag(@right_video.user.avatar.url(:thumb), :size => "45x45", class: "pull-left img-circle") %>
                <% else %>
                    <%= image_tag("http://placehold.it/100x100&text=No Pic", class: "thumbnail") %>
                    <% end %>
                    <!-- <a class="user-name"> -->
                        <%= @right_video.user.name %>
                        <% if current_user %>
                          <% if current_user.has_follow_right?(@battle) %>
                            <%= link_to unfollow_right_video_battle_path(@battle), :method => :post do %>
                            <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="color:#ff5722;"></i>
                            <% end %>
                          <% else %>
                            <%= link_to follow_right_video_battle_path(@battle), :method => :post do %>
                            <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" style="color:#ff5722;"></i>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= link_to new_user_session_path, :method => :post do %>
                          <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" style="color:#ff5722;"></i>
                          <% end %>
                        <% end %>
                        <%= @battle.right_followers.count %>
                      <!-- </a> -->
                    </ul>
                </div>
                <%= video_tag([@right_video.video_url.to_s], :size => "300x300", :controls =>true) %>
     </div>
  </div>


  <div class="row">
    <div class="col-md-6" style="width: 100%">
      <div class="panel with-nav-tabs panel-default" style="height: 600px;">
          <div class="panel-heading">
                  <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#viewcomments" data-toggle="tab">精选评论</a>
                      </li>
                      <li><a href="#wirtecomments" data-toggle="tab">
                        <i class="fa fa-comments-o" aria-hidden="true"></i> 写评论</a>
                      </li>
                  </ul>
          </div>
                <div class="tab-content">
                  <div class="tab-pane active" id="viewcomments">
                    <% @battle_comments.each do |comment| %>
                      <div class="reviews">
                        <ul class="list-group">
                          <li class="list-group-item" >
                            <div class="row" >
                              <div class="col-md-2" style="color: #bcbaba">
                                  <%= comment.user.email %>
                              </div>
                                <br>
                              <div class="col-md-8">
                                  <%= comment.comment %>
                              </div>
                            </div>
                          </li>
                        </ul>
                    </div>
                    <% end %>
                   </div>
                  <div class="tab-pane" id="wirtecomments">
                      <div>
                        <%= simple_form_for([@battle, @battle_comment]) do |f| %>
                        <div class="form-inputs">
                          <%= f.input :comment, label: false, class: "form-control" %>
                        </div>
                        <div class="form-actions">
                          <%= f.button :submit, value = "提交", class: "btn btn-primary" %>
                        </div>
                        <% end %>
                      </div>
                   </div>
                </div>
      </div>
    </div>
  </div>
        <% end %>
    </div>
