<!-- <div class="container"> -->

<div class="row">
    <div class="col-xs-12" style="width: 100%">
        <div class=" panel1">
            <% if @battle.present? %>
                <h2 align="center"><%= @battle.title %></h1>
                <!-- <p class="pull-left" style="margin-left: 10px; height: 30px;"><%#= simple_format(@battle.description) %></p> -->
            <% else %>
                <h2 style="margin-left: 10px; color: #999;">PK赛尚未开始，敬请期待！</h2>
            <% end %>
        </div>
    </div>
</div>
<br>

<% if @battle.present? %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-6">
                <% if current_user %>
                    <% if current_user.has_follow_left?(@battle) %>
                        <%= link_to("投票给TA", unfollow_left_video_battle_path(@battle), :method => :post,
                                              :class => "btn btn-default vote_left") %>
                    <% else %>
                        <%= link_to("投票给TA", follow_left_video_battle_path(@battle), :method => :post,
                                              :class => "btn btn-default vote_left") %>
                    <% end %>
                <% else %>
                    <%= link_to("投票给TA", new_user_session_path, :method => :post, :class => "btn btn-default vote_left") %>
                <% end %>

                <%= @battle.left_followers.count %>
    </div>
    <div class="col-sm-6 col-xs-6" style="text-align:right">
                    <%= @battle.right_followers.count %>
                    <% if current_user %>
                    <% if current_user.has_follow_right?(@battle) %>
                    <!-- <%#= link_to unfollow_right_video_battle_path(@battle), :method => :post do %>
                                      <i class="fa fa-thumbs-up fa-2x flip" aria-hidden="true" style="color:red;"></i>
                                    <%# end %> -->
                    <%= link_to("投票给TA", unfollow_right_video_battle_path(@battle), :method => :post,
                                                  :class => "btn btn-default vote_right") %>
                <% else %>
                    <!-- <%#= link_to follow_right_video_battle_path(@battle), :method => :post do %>
                                    <i class="fa fa-thumbs-o-up fa-2x flip" aria-hidden="true" style="color:red;"></i>
                                    <%# end %> -->
                    <%= link_to("投票给TA", follow_right_video_battle_path(@battle), :method => :post,
                                                  :class => "btn btn-default vote_right") %>
                    <% end %>
                <% else %>
                    <!-- <%#= link_to new_user_session_path, :method => :post do %>
                                    <i class="fa fa-thumbs-o-up fa-2x flip" aria-hidden="true" style="color:red;"></i>
                                  <%# end %> -->
                    <%= link_to("投票给TA", new_user_session_path, :method => :post, :class => "btn btn-default vote_right") %>
                    <% end %>

    </div>
  </div>
  <div class="row">
  <% if @battle.left_followers.count > 0 || @battle.right_followers.count > 0 %>
    <div class="progress" style="margin-top: 20px;">
        <div id="leftBar" class="progress-bar" role="progressbar" style="width:<%= render_left_width(@battle)%>%;
                        background-color:#79e8d0; color:#79e8d0;">
            Left
        </div>
        <div id="rightBar" class="progress-bar" role="progressbar" style="width:<%= render_right_width(@battle)%>%;
                        background-color:#ff7073; color:#ff7073;" >
            Right
        </div>
    </div>
  <% else %>
    <div class="progress" style="margin-top: 20px;">
            <div id="leftBar" class="progress-bar" role="progressbar" style="width:100%; background-color:#efefef;">
            </div>
          </div>
  <% end %>

  </div>
  <div class="row ">


    <div class="col-sm-6 col-xs-6">
      <video src= <%= @left_video.video_url.to_s %> style = "width:100%" poster=<%= @left_video.image.thumb.to_s %>  controls>
      <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
      </video>
    </div>
    <div class="col-sm-6 col-xs-6">
      <video src=<%= @right_video.video_url.to_s %> style = "width:100%"  poster=<%= @right_video.image.thumb.to_s %> controls>
        <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
      </video>
    </div>
  </div>
</div>



<br><br>
<div class="row">
<div class="col-md-6" style="width: 100%">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#viewcomments" data-toggle="tab">精选评论</a>
                </li>
                <li>
                    <a href="#wirtecomments" data-toggle="tab">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        写评论</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" style="margin-top:20px; padding: 0 10px;">
            <div class="tab-pane active" id="viewcomments">
                <% @battle_comments.each do |comment| %>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="thumbnail" style="border: 0px;">
                            <% if comment.user.avatar_file_name.present? %>
                            <%= image_tag(comment.user.avatar.url(:thumb), :size => "30x30", class: "img-circle") %>
                        <% else %>
                            <%= image_tag("http://placehold.it/100x100&text=No Pic", class: "img-circle") %>
                            <% end %>
                        </div>
                        <!-- /thumbnail -->
                    </div>
                    <!-- /col-sm-1 -->

                    <div class="col-xs-10">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color: #bcbaba">
                                <strong>
                                    <% if comment.user.name.present? %>
                                    <%= comment.user.display_name %>
                                <% else %>
                                    <%= comment.user.email %>
                                    <% end %>
                                </strong>
                            </div>
                            <div class="panel-body">
                                <%= simple_format(comment.comment) %>
                            </div>
                            <!-- /panel-body -->
                        </div>
                        <!-- /panel panel-default -->
                    </div>
                    <!-- /col-sm-5 -->
                </div>
                <% end %>

            </div>
            <div class="tab-pane" id="wirtecomments">
                <div>
                    <%= simple_form_for([@battle, @battle_comment]) do |f| %>
                    <div class="form-inputs">
                        <%= f.input :comment, label: false, class: "form-control" %>
                    </div>
                    <div class="form-actions">
                        <%= f.button :submit, value = "提交", class: "btn btn-success" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<% end %>
