    <!-- <div class="container"> -->
<% provide(:title , "about") %>


<% left_video = Video.find(@battle.left_video_id) %>
<% right_video = Video.find(@battle.right_video_id) %>

<div class="row">
    <div class="col-xs-12" style="width: 100%">
        <div class="panel1">
            <h4 align="center" style=""><%= @battle.title %></h4>
            <!-- <p class="pull-left" style="margin-left: 10px; height: 30px;"><%#= simple_format(battle.description) %></p> -->
        </div>
    </div>
</div>
<br>

<div class="container">
    <%= render :partial => "common/video_battle", locals: {battle: @battle}%>
  <div id="<%= "votebar_battle_#{@battle.id}"%>">

        <div class="row">
          <div class="col-sm-2 col-xs-2">
            <%= render :partial => "common/leftvotebutton", locals: {battle: @battle, remote: false}%>     
          </div>
          <div class = "col-sm-8 col-xs-8">
            <%= render :partial => "common/votebar", locals: {battle: @battle}%>
          </div>
          <div class="col-sm-2 col-xs-2" style="text-align:right">
            <%= render :partial => "common/rightvotebutton", locals: {battle: @battle, remote: false}%>     
          </div>
        </div>
  </div>
    <div id="<%= "challenge_battle_#{@battle.id}"%>">
    <%= render :partial => "common/challenge_battle", locals: {battle: @battle}%>
    </div>
</div>



<br><br>

<div id="comments_in_battle">
  <%= render :partial => "common/comments_for_battle", locals: {battle: @battle}%>
</div>

    <div class="row button-footer">
       	<div class="col-xs-6 text-center">
       	  <% if @battle.newerpublishedbattle %>
                <%= link_to battle_path(@battle.newerpublishedbattle) do %>
                        <i class= "fa fa-arrow-left" aria-hidden="true"></i>
                <% end %>
        	<% else %>
        	  <%= link_to("", "#") %>
        	<% end %>

		</div>
       	<div class="col-xs-6 text-center">
       	  <% if @battle.olderpublishedbattle %>
                <%= link_to battle_path(@battle.olderpublishedbattle) do %>
                        <i class= "fa fa-arrow-right" aria-hidden="true"></i>
                <% end %>
        	<% else %>
        	  <%= link_to("主人可以休息了", "#") %>
        	<% end %>
       	</div>
    </div>