    <!-- <div class="container"> -->
<% provide(:title , "about") %>    
    
    
<% left_video = Video.find(@battle.left_video_id) %>
<% right_video = Video.find(@battle.right_video_id) %>

<div class="row">
    <div class="col-xs-12" style="width: 100%">
        <div class="panel1">
            <h4 align="center"><%= @battle.title %></h4>
            <!-- <p class="pull-left" style="margin-left: 10px; height: 30px;"><%#= simple_format(battle.description) %></p> -->
        </div>
    </div>
</div>
<br>

<div class="container">

  <div id="<%= "votebar_battle_#{@battle.id}"%>">

    <%= render :partial => "votebar_battle", locals: {battle: @battle}%>
  </div>
  <div class="row ">


    <div class="col-sm-6 col-xs-6">
      <video src= <%= left_video.video_url.to_s %> style = "width:100%" poster=<%= left_video.image.thumb.to_s %>  controls>
      <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
      </video>
    </div>
    <div class="col-sm-6 col-xs-6">
      <video src=<%= right_video.video_url.to_s %> style = "width:100%"  poster=<%= right_video.image.thumb.to_s %> controls>
        <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.webm">link to the video</a> instead.</p>
      </video>
    </div>
  </div>
  
    <div class="col-sm-6 col-xs-6">
            <% if !current_user %>
              <%= link_to("挑战左边", new_user_session_path, :class => "btn btn-default vote_left") %>
            <% else %>
              <%= link_to("挑战左边", myasset_battle_challenge_left_path(@battle),
                                :class => "btn btn-default vote_left") %>
            <% end %>
    </div>
    <div class="col-sm-6 col-xs-6" style="text-align:right">
            <% if !current_user %>
              <%= link_to("挑战右边", new_user_session_path, :class => "btn btn-default vote_right") %>
            <% else %>
              <%= link_to("挑战右边", myasset_battle_challenge_right_path(@battle),
                                              :class => "btn btn-default vote_right") %>
            <% end %>      

    </div>
</div>



<br><br>
<div class="row comments">
  <div class="col-xs-12 ">
    <div class="comments-title">
      精选留言
      <span class="pull-right">
        <%= link_to new_battle_battle_comment_path(@battle) do %>
          写评论 <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </span>
    </div>
    <br><br>
    <% if @battle.battle_comments.blank? %>
      还没有人评论 ~
    <% else %>
    <% @battle.battle_comments.order("created_at DESC").each do |comment| %>
    <div class="row comment-list">
      <div class="col-xs-2">
        <div class="thumbnail1" style="margin-top:5px;">
            <% if comment.user.avatar_file_name.present? %>
            <%= image_tag(comment.user.avatar.url(:thumb), :size => "30x30", class: "img-circle") %>
        <% else %>
            <%#= image_tag("http://placehold.it/100x100&text=No Pic", :size => "30x30", class: "img-circle") %>
            <%= image_tag "logo.jpeg", :size => "30x30", class: "img-circle" %>
            <% end %>
        </div>
      </div>
      <div class="col-xs-10">
        <p>
          <% if comment.user.name.present? %>
            <%= comment.user.name %>
          <% else %>
            <%= comment.user.display_name %>
          <% end %>
        </p>
        <p>
          <%= simple_format(comment.comment) %>
        </p>
        <p>
          <%= comment.created_at.strftime("%Y年%-m月%d日") %>
        </p>
      </div>
    </div>
    <% end %>
    <% end %>