    <!-- <div class="container"> -->
<% provide(:title , "about") %>


<% left_video = Video.find(@battle.left_video_id) %>
<% right_video = Video.find(@battle.right_video_id) %>


<div class="row">
  <div class="col-xs-4 text-center left_user"><h3><%= @battle.left_video.user.name || "朝阳群众" %></h3></div>
  <div class="col-xs-4 text-center"><h3>VS</h3></div>
  <div class="col-xs-4 text-center right_user"><h3><%= @battle.right_video.user.name  || "朝阳群众" %></h3></div>
</div>

<div class="row text-center">
  <%= @battle.title %>
</div>

<br>

<div class="container battle_video_vote_comment">
    <%= render :partial => "common/video_battle", locals: {battle: @battle, leftvideoautoplay: true}%>
  <div id="<%= "votebar_battle_#{@battle.id}"%>">

        <div class="row">
          <div class="col-sm-2 col-xs-2 vote_star_button">
            <%= render :partial => "common/leftvotebutton", locals: {battle: @battle, remote: false}%>     
          </div>
          <div class = "col-sm-8 col-xs-8">
            <%= render :partial => "common/votebar", locals: {battle: @battle}%>
          </div>
          <div class="col-sm-2 col-xs-2 vote_star_button vote_star_right">
            <%= render :partial => "common/rightvotebutton", locals: {battle: @battle, remote: false}%>     
          </div>
        </div>
  </div>
</div>