<%= simple_form_for([:admin, @stream]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :approved, as: :boolean, checked_value: true, unchecked_value: false, :input_html => { :value => @stream.approved } %>
    <%= f.input :running,  as: :boolean, checked_value: true, unchecked_value: false, :input_html => { :value => @stream.running }   %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
