<h1>向<%= @stream.title %>添加挑战Video</h1>

<%= form_tag(addvideodone_admin_stream_path(@stream), method: "post") do %>
    <%= label_tag(:video, "video") %>
    <%= select_tag(:video, options_for_select(@videos)) %>
    <%= submit_tag("添加") %>
<% end %>

<%= link_to 'Show', admin_stream_path(@stream) %> |
<%= link_to 'Back', admin_streams_path %>
