<p id="notice"><%= notice %></p>

<h1>Streams</h1>

  <div ><h2>待审批</h2></div>
  <% @streams_waiting_prove.each do |stream| %>
  <div class="row" style="margin-bottom: 20px;">

    <div class="col-xs-2">
      <% if stream.approved %>
        <%= link_to rollback_admin_stream_path(stream), :method => :post, :class => "btn btn-xs btn-success" do %>
        <i class="fa fa-eye"></i><% end %>
      <% else %>
        <%= link_to approve_admin_stream_path(stream), :method => :post, :class => "btn btn-xs btn-warning" do %>
        <i class="fa fa-eye-slash"></i><% end %>
      <% end %>
    </div>
    <div class="col-xs-8">
      <%= link_to stream.title, admin_stream_path(stream) %>
    </div>
    </div>
    <%= render :partial => "common/battleinstream", locals: {stream: stream}%>
    <% end %>
  </div>
  <div ><h2>已经审批</h2></div>
  <% @streams_proved.each do |stream| %>
  <div class="row" style="margin-bottom: 20px;">

    <div class="col-xs-2">
      <% if stream.approved %>
        <%= link_to rollback_admin_stream_path(stream), :method => :post, :class => "btn btn-xs btn-success" do %>
        <i class="fa fa-eye"></i><% end %>
      <% else %>
        <%= link_to approve_admin_stream_path(stream), :method => :post, :class => "btn btn-xs btn-warning" do %>
        <i class="fa fa-eye-slash"></i><% end %>
      <% end %>
    </div>
    <div class="col-xs-8">
      <%= link_to stream.title, admin_stream_path(stream) %>
    </div>
    </div>
    <%= render :partial => "common/battleinstream", locals: {stream: stream}%>
  <% end %>
  </div>
