<div class="form-group">
<%= simple_form_for [:myasset, @video], 
    
    :url => myasset_battle_createChallenge_path,
    :method => 'post' do |f| %>    
    <div class="group">
        <%= f.input :title, :label => "我的视频名称" %>
    </div>

    <% if @video.image.present? %>
    <span>视频封面</span>
    <br>
    <%= image_tag(@video.image.thumb.url) %>
    <% end %>
    <div class="group">
        <%#= f.input :image, as: :file %>
        <%= f.file_field :image %>（视频封面）<br>
    </div>
    <div class="group">
        <%=f.file_field :video %> （视频）<br>
        <%=f.hidden_field :challenge_video, value: @challenge_video.id %>
        <%=f.hidden_field :battle_title, value: @challenge_battle.title %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.submit "提交" , disable_with: "Submiting...", class: "btn btn-success", :style => "border: none;color:white;width:49%;background-color:#74d4b3;" %>
      <%= link_to "取消", myasset_videos_path, class: "btn btn-default", :style => "border: none;color:white;width:49%;background-color:#74d4b3;"%>
    </div>
</div>
<% end %>
