<div class="form-group" style="width: 800px; ">
    <%= simple_form_for [:admin, @video] do |f| %>
    <div class="group">
        <%= f.input :title, :label => "视频名称" %>
    </div>
    <div class="group">
        <%= f.input :description, :label => "视频介绍" %>
    </div>
    <% if @video.image.present? %>
    <span>目前视频封面</span>
    <br>
    <%= image_tag(@video.image.thumb.url) %>
    <% end %>
    <div class="group">
        <%#= f.input :image, as: :file %>
        <%= f.file_field :image %>（视频封面）<br>
    </div>
    <div class="group">
        <%=f.file_field :video %> （视频）<br>
    </div>

    <%= f.submit "提交" , disable_with: "Submiting...", class: "btn btn-primary" %>
    <%= link_to "取消", admin_videos_path, class: "btn btn-primary"%>
</div>
<% end %>
