<div>
  <span class="pull-right" style="margin-top:-25px; margin-bottom: 10px;">
      <%= link_to("添加视频", new_admin_video_path, :class => "btn btn-xs btn-default") %>
  </span>
  <br>
  <% @videos.each do |v| %>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to(v.title, admin_video_path(v)) %>
    </div>
    <div class="col-xs-6">
      <p>
        <%= link_to admin_video_path(v), :method => :delete, :data => {:confirm => "Are your sure?" }, class: 'btn btn-danger btn-xs' do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6">
        <%= v.user.display_name %>
    </div>
    <div class="col-xs-6">
        <%= v.user.created_at.strftime("%d %b. %Y") %>
  </div>
  </div>
  <br>
  <% end %>
</div>
