<div class="row">

    <div class="col-md-6">
        <% if @video.image.present? %>
        <%= image_tag(@video.image.medium.url, class: "thumbnail") %>
    <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
        <% end %>
        <div class="col-md-12 panel" style="background-color: #efefef; margin-top: 20px;">
            <h2><%= @video.title %></h2>
            <p style="height: 30px;"><%= simple_format(@video.description) %></p>
        </div>
                <%= video_tag(@video.video_url.to_s, :controls =>true) %>

        <!-- <div class="pull-right" style="margin-top: 10px;">
            <%#= link_to "Back", admin_videos_path, class: "btn btn-primary"%>
        </div> -->

    </div>
