<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="/" data-trackevent="back_home_from_nav">
            <i class="fa fa-video-camera" aria-hidden="true"></i> 斗斗
            <%#= link_to("斗斗", root_path) %>
       </a>

    </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to("联系我们", contact_path, data:{trackevent: "contact_us_from_nav"}) %></li>
            <li><%= link_to("关于我们", about_path, data:{trackevent: "about_us_from_nav"}) %></li>

            <% if !current_user %>
                <li><%= link_to("注册", new_user_registration_path, data:{trackevent: "register_from_nav"}) %>
                </li>
                <li><%= link_to("登录", new_user_session_path, data:{trackevent: "login_from_nav"}) %></li>
            <% else %>
                <!-- <li class="round-image-50"><%#= image_tag(current_user.avatar.url(:thumb)) %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b class="caret"></b>
                    </a> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="fa fa-user" aria-hidden="true"></i>
                       <% if current_user.name.present? %>
                         <%= current_user.name %>
                      <% else %>
                        <%= current_user.email %>
                      <% end %>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <% if current_user.admin? %>
                        <li><%= link_to("管理员选单", admin_videos_path) %></li>
                        <% end %>
                        <li><%= link_to("我的视频和PK选单", myasset_videos_path) %></li>
                        <li><%= link_to '修改个人资料',edit_user_registration_path %></li>
                        <li><%= link_to("退出", destroy_user_session_path, method: :delete) %></li>
                    </ul>
            </ul>
        </li>
        <% end %>
    </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
