<% battle = local_assigns[:battle] %>
<div class="container" id="<%= "singlebattle_#{battle.id}"%>">

    <div class="row">
      
      <div class="col-xs-12" style="text-align:center">
          <div class="panel1">
                          <%= link_to(battle.title, battle_path(battle),
                                              :class => "h4 center") %>
          </div>
      </div>
    </div>
    <%= render :partial => "common/video_battle", locals: {battle: battle}%>
    <div id="<%= "votebar_battle_#{battle.id}"%>">
      <% if battle %>
        <div class="row">
          <div class="col-sm-2 col-xs-2">
            <%= render :partial => "common/leftvotebutton", locals: {battle: battle}%>     
          </div>
          <div class = "col-sm-8 col-xs-8">
            <%= render :partial => "common/votebar", locals: {battle: battle}%>
          </div>
          <div class="col-sm-2 col-xs-2" style="text-align:right">
            <%= render :partial => "common/rightvotebutton", locals: {battle: battle}%>     
          </div>
        </div>
      <% end %>
    </div>
</div>