<% battle = local_assigns[:battle] %>
<div class="container" id="<%= "singlebattle_#{battle.id}"%>">

  <div id="<%= "votebar_battle_#{battle.id}"%>">
    <div class="row">
      <div class="col-xs-4 text-center left_user"><h3><%= @battle.left_video.user.name || "朝阳群众" %></h3></div>
      <div class="col-xs-4 text-center"><h3>VS</h3></div>
      <div class="col-xs-4 text-center right_user"><h3><%= @battle.right_video.user.name  || "朝阳群众" %></h3></div>
    </div>
    <div class="row text-center">
      <%= @battle.title %>
    </div>
    <%= render :partial => "common/bar_battle", locals: {battle: battle}%>
  </div>
    <%= render :partial => "common/video_battle", locals: {battle: battle}%>
</div>