  <% battle = local_assigns[:battle] %>

        <% if left_is_voted(battle) or right_is_voted(battle) %>
            <div class="progress" style="margin-top: 20px;">
                <div id="leftBar" class="progress-bar" role="progressbar" style="width:<%= render_left_width(battle)%>%;
                        background-color:#135392; color:white;">
          
                    <p><%= left_votes(battle) %></p>
                </div>
                <div id="spaceBar" class="progress-bar" role="progressbar" style="width:1%;
                        background-color:white; color:white;">
          
                    <p><%= left_votes(battle) %></p>
                </div>
                <div id="rightBar" class="progress-bar" role="progressbar" style="width:<%= render_right_width(battle)%>%;
                            background-color:#e02622; color:white;" >
                    <p><%= right_votes(battle) %></p>
                </div>

            </div>
        <% else %>
            <div class="progress" style="margin-top: 20px;">
                <div id="leftBar" class="progress-bar" role="progressbar" style="width:100%; background-color:#efefef; color: black">
                    投票后看结果
                </div>
            </div>
        <% end %>