<div>
  <h4>话题: <%= @topic.title %> </h4>
</div>
<div>
    <%= link_to "其他话题", myasset_t1topic_path(@topic.t1topic) %>
</div>
<div class="form-group">
<%= simple_form_for [:myasset, @video], 
    
    :url => myasset_topic_createvideo_path(@topic),
    :method => 'post' do |f| %>    
    
    <div class="group">
        <%=f.file_field :video, :accept => 'video/*', :capture => "user", :class => "filestyle", "data-buttonText" =>"录制视频", "data-icon"=>"false"%>

    </div>
    <div class="group">
          <%= f.file_field :image, :accept => 'image/*', :capture => "user", :class => "filestyle", "data-buttonText" =>"封面照片", "data-icon"=>"false" %>
    </div>
    <div class="group">
        <%= f.input :title, :label => "我的观点" %>
    </div>
    <% if @video.image.present? %>
    <span>视频封面</span>
    <br>
    <%= image_tag(@video.image.thumb.url) %>
    <% end %>
    
    <br>
    <div class="form-actions">
      <%= f.submit "提交" , disable_with: "Submiting...", class: "btn btn-success", :style => "border: none;color:white;width:49%;background-color:#e02622;" %>
      <%= link_to "取消", :back, class: "btn btn-default", :style => "border: none;color:white;width:49%;background-color:#e02622;"%>
    </div>
<% end %>
</div>
<%= javascript_include_tag "bootstrap-filestyle.min" %>