<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title><%= full_title()%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- start Mixpanel -->
        <script type="text/javascript">
            mixpanel.init("1667d355787be65194150c4ba9f38ca4");
        </script>
        <!-- end Mixpanel -->

  </head>

  <body>
    <div>
     <img src="<%= image_url 'logo.jpeg' %>" width="0" height="0" />
    </div>
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
      <%= render "common/footer" %>
    </div>
  </body>
</html>
